.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
  word-wrap: break-word;
}

.reveal section img {
  border: 0;
  box-shadow: none;
}

.reveal div .django-girls-highlight {
  background-color: #ff9400;
  padding: 15px 8px;
}

.sixty-percent-img img {
  width: 60%;
  height: 60%;
}
