.reveal {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  text-transform: none;
  word-wrap: break-word;
}

.reveal section img {
  border: 0;
  box-shadow: none;
}

.half-width-bullets {
  text-align: center;
  width: 50%;
}

.half-width-image img {
  width: 50%;
}

.snap-north-west-image img {
  width: 60%;
}

.snap-south-west-image img {
  width: 60%;
  margin-left: 30% !important;
}

.snap-seventy-percent-image img {
  width: 70%;
}

.list-bg-black li {
  color: white;
}
